<html>

<head></head>
<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }



</style>

<body>
<h2>Memes</h2>
<div class="row">
    {% for meme in memes %}
    <div class="column">
        <img src="{{ meme['url'] }}" alt="Snow" height="200" width="200">
        {{ meme['name'] }}
    </div>
    {% endfor %}
</div>
</body>

</html>